<div class="template-footer">
  <h2>Need Help?</h2>
  <span>Please Notify In Our Social Media.</span>
  <div class="social-media-link">
    <% socialMedias.forEach(socialMedia => { %>
    <a href="<%= socialMedia.link %>" target="_blank" class="social-media-link">
      <img src="<%= socialMedia.icon %>" alt="" />
    </a>
    <% }); %>
  </div>
</div>
