<style>
  .template-footer {
    text-align: center;
    display: block;
  }
  .template-footer-heading {
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(90deg, #294393, #04a4e6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .template-footer-description {
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .template-footer-social-medias {
    text-align: center;
  }
  .template-footer-social-media-link {
    text-decoration: none;
    color: white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: inline-block;
    background: linear-gradient(180deg, #01904d 0%, #0ce47f 100%);
    position: relative;
  }
  .template-footer-social-media-icon {
    position: absolute;
    top: 50%;
    left: 24%;
    translate: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 768px) {
    .template-footer-heading {
      font-weight: 600;
      font-size: 16px;
    }
    .template-footer-description {
      font-size: 12px;
      margin-top: 3px;
      margin-bottom: 3px;
    }
    .template-footer-social-media-link {
      width: 20px;
      height: 20px;
    }
    .template-footer-social-media-icon {
      left: 17%;
      width: 14px;
    }
  }
</style>

<div class="template-footer">
  <h2 class="template-footer-heading">Need Help?</h2>
  <div class="template-footer-description">
    Please Notify In Our Social Media.
  </div>
  <div class="template-footer-social-medias">
    <% socialMedias.forEach(socialMedia => { %>
    <a
      href="<%= socialMedia.link %>"
      target="_blank"
      class="template-footer-social-media-link"
    >
      <img
        class="template-footer-social-media-icon"
        src="<%= socialMedia.icon %>"
        alt=""
      />
    </a>
    <% }); %>
  </div>
</div>
