<div class="template-footer">
  <h2 class="template-footer-heading">Need Help?</h2>
  <div class="template-footer-description">
    Please Notify In Our Social Media.
  </div>
  <div class="template-footer-social-medias">
    <% socialMedias.forEach(socialMedia => { %>
    <a
      href="<%= socialMedia.link %>"
      target="_blank"
      class="template-footer-social-media-link"
    >
      <img
        class="template-footer-social-media-icon"
        src="<%= socialMedia.icon %>"
        alt=""
      />
    </a>
    <% }); %>
  </div>
</div>
