<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
    place-items: center;
    overflow-y: auto;
    background: #bebdbd;
    font-family: "Open Sans", sans-serif;
    gap: 10px;
  }
  .template-container {
    background-color: #ffff;
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
    --webkit-scrollbar-width: none;
    padding-bottom: 20px;
    border: 1px solid #e6e6e6;
  }

  .template-header {
    display: grid;
    place-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
  }

  .logo-img {
    width: 180px;
    height: 50px;
  }

  @media screen and (max-width: 768px) {
    .template-container {
      padding-bottom: 10px;
    }
    .template-header {
      padding: 10px;
    }
    .logo-img {
      width: 140px;
      height: 40px;
    }
  }
</style>
<div class="template-header">
  <!-- <img class="logo-img" src="./assets/LogoElite.png" alt="logo" /> -->
  <svg
    width="182"
    height="50"
    viewBox="0 0 182 50"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M21.5585 0L0 12.6194V37.4488L21.4218 50L43.0145 37.517V31.412L24.5992 41.6439C23.1643 42.2578 21.5585 41.2005 21.5585 39.6316V26.8758C21.5585 26.0232 22.0368 25.2729 22.8226 24.8977L43.0145 14.0518V12.6194L21.5585 0ZM15.477 21.2824V38.8813L6.08147 33.663V16.0641L20.4652 7.4352L30.3732 12.6535L15.477 21.2824ZM27.1616 35.0955L39.8029 28.1719V21.3506L26.4783 28.854C26.2392 28.9904 26.1025 29.2292 26.1025 29.4679V34.4475C26.1025 35.0273 26.6833 35.3683 27.1616 35.0955Z"
      fill="url(#paint0_linear_16999_44148)"
    />
    <path
      d="M120.775 6.82129H115.001V32.6398H120.775V6.82129Z"
      fill="url(#paint1_linear_16999_44148)"
    />
    <path
      d="M123.816 11.7667H134.647V32.6398H140.455V11.7667H151.285V6.82129H123.816V11.7667Z"
      fill="url(#paint2_linear_16999_44148)"
    />
    <path
      d="M91.9737 6.82129H86.0631V32.6398H111.961V27.6944H91.9737V6.82129Z"
      fill="url(#paint3_linear_16999_44148)"
    />
    <path
      d="M55.6557 39.5636C55.6557 39.4272 55.6899 39.2908 55.724 39.1885C55.7582 39.052 55.8607 38.9497 55.929 38.8815C56.0315 38.7792 56.134 38.711 56.2365 38.6769C56.3732 38.6086 56.4757 38.6086 56.6123 38.6086H60.3705C60.5072 38.6086 60.6439 38.6427 60.7464 38.6769C60.883 38.7451 60.9855 38.8133 61.0539 38.8815C61.1564 38.9838 61.2247 39.0861 61.2588 39.1885C61.3272 39.3249 61.3272 39.4272 61.3272 39.5636V40.4504H60.3364V39.5636H56.5782V44.4749H60.3364V43.5882H61.3272V44.4749C61.3272 44.6114 61.293 44.7478 61.2588 44.8501C61.2247 44.9865 61.1222 45.0889 61.0539 45.1571C60.9514 45.2594 60.8489 45.3276 60.7464 45.3617C60.6097 45.4299 60.5072 45.4299 60.3705 45.4299H56.6123C56.4757 45.4299 56.339 45.3958 56.2365 45.3617C56.0999 45.3276 55.9974 45.2253 55.929 45.1571C55.8265 45.0548 55.7582 44.9524 55.724 44.8501C55.6557 44.7137 55.6557 44.6114 55.6557 44.4749V39.5636Z"
      fill="#000051"
    />
    <path
      d="M78.4441 44.4749C78.4441 44.6114 78.4099 44.7478 78.3758 44.8501C78.3074 44.9865 78.2391 45.0889 78.1708 45.1571C78.0683 45.2594 77.9658 45.3276 77.8633 45.3617C77.7266 45.4299 77.6241 45.4299 77.4875 45.4299H73.5243C73.3876 45.4299 73.2509 45.3958 73.1484 45.3617C73.0118 45.3276 72.9093 45.2253 72.8409 45.1571C72.7385 45.0548 72.6701 44.9524 72.636 44.8501C72.5676 44.7137 72.5676 44.6114 72.5676 44.4749V39.5636C72.5676 39.4272 72.6018 39.2908 72.636 39.1885C72.6701 39.052 72.7726 38.9497 72.8409 38.8815C72.9434 38.7792 73.0459 38.711 73.1484 38.6769C73.2851 38.6086 73.3876 38.6086 73.5243 38.6086H77.4875C77.6241 38.6086 77.7608 38.6427 77.8633 38.6769C78 38.7451 78.1024 38.8133 78.1708 38.8815C78.2733 38.9838 78.3416 39.0861 78.3758 39.1885C78.4099 39.3249 78.4441 39.4272 78.4441 39.5636V44.4749ZM73.5243 39.5636V44.4749H77.4875V39.5636H73.5243Z"
      fill="#000051"
    />
    <path
      d="M93.3403 45.464L90.7779 40.4162V45.464H89.7871V38.5745H90.8804L93.5112 43.7586L96.1419 38.5745H97.201V45.464H96.2102V40.4162L93.6478 45.464H93.3403Z"
      fill="#000051"
    />
    <path
      d="M112.097 45.464L109.535 40.4162V45.464H108.544V38.5745H109.637L112.268 43.7586L114.899 38.5745H115.958V45.464H114.967V40.4162L112.371 45.464H112.097Z"
      fill="#000051"
    />
    <path
      d="M127.301 38.5745H132.323V39.5635H128.258V41.5417H131.708V42.5308H128.258V44.509H132.323V45.4981H127.301V38.5745Z"
      fill="#000051"
    />
    <path
      d="M148.825 41.0301C148.825 41.9851 148.415 42.5308 147.595 42.6672L148.894 45.464H147.8L146.502 42.7013H144.35V45.464H143.359V38.5745H147.151C148.279 38.5745 148.825 39.1202 148.825 40.2457V41.0301ZM144.35 41.7464H147.083C147.356 41.7464 147.527 41.6781 147.664 41.5758C147.766 41.4735 147.834 41.2689 147.834 40.996V40.3139C147.834 40.041 147.766 39.8705 147.664 39.7341C147.561 39.6318 147.356 39.5635 147.083 39.5635H144.35V41.7464Z"
      fill="#000051"
    />
    <path
      d="M160.031 39.5636C160.031 39.4272 160.066 39.2908 160.1 39.1885C160.168 39.052 160.236 38.9497 160.305 38.8815C160.407 38.7792 160.51 38.711 160.612 38.6769C160.749 38.6086 160.851 38.6086 160.988 38.6086H164.746C164.883 38.6086 165.02 38.6427 165.122 38.6769C165.259 38.7451 165.361 38.8133 165.43 38.8815C165.532 38.9838 165.6 39.0861 165.635 39.1885C165.669 39.3249 165.703 39.4272 165.703 39.5636V40.4504H164.781V39.5636H161.022V44.4749H164.781V43.5882H165.771V44.4749C165.771 44.6114 165.737 44.7478 165.703 44.8501C165.669 44.9865 165.566 45.0889 165.498 45.1571C165.395 45.2594 165.293 45.3276 165.19 45.3617C165.054 45.4299 164.951 45.4299 164.815 45.4299H161.056C160.92 45.4299 160.783 45.3958 160.681 45.3617C160.544 45.3276 160.441 45.2253 160.373 45.1571C160.271 45.0548 160.202 44.9524 160.168 44.8501C160.134 44.7137 160.1 44.6114 160.1 44.4749V39.5636H160.031Z"
      fill="#000051"
    />
    <path
      d="M176.909 38.5745H181.932V39.5635H177.866V41.5417H181.317V42.5308H177.866V44.509H181.932V45.4981H176.909V38.5745Z"
      fill="#000051"
    />
    <path
      d="M60.5072 23.8064V21.9987H82.544V17.4285H60.5072V15.689C60.5072 12.6877 61.293 11.7327 64.6412 11.7327H70.996L72.8752 6.85547H64.6071C56.9882 6.85547 54.7674 9.20881 54.7674 15.7231V23.8064C54.7674 30.3207 56.9882 32.674 64.6071 32.674H82.6465V27.7968H64.6071C61.2589 27.7286 60.5072 26.91 60.5072 23.8064Z"
      fill="url(#paint4_linear_16999_44148)"
    />
    <path
      d="M82.6807 11.869H74.4126L76.3259 6.82129H82.6807V11.869Z"
      fill="#000051"
    />
    <path
      d="M159.827 23.8064V21.9987H181.863V17.4285H159.827V15.689C159.827 12.6877 160.612 11.7327 163.961 11.7327H170.315L172.194 6.85547H163.926C156.307 6.85547 154.087 9.20881 154.087 15.7231V23.8064C154.087 30.3207 156.307 32.674 163.926 32.674H181.966V27.7968H163.926C160.578 27.7286 159.827 26.91 159.827 23.8064Z"
      fill="url(#paint5_linear_16999_44148)"
    />
    <path d="M182 11.869H173.732L175.645 6.82129H182V11.869Z" fill="#000051" />
    <defs>
      <linearGradient
        id="paint0_linear_16999_44148"
        x1="9.9293"
        y1="14.3148"
        x2="45.9932"
        y2="47.9149"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#04A4E6" />
        <stop offset="1" stop-color="#000051" />
      </linearGradient>
      <linearGradient
        id="paint1_linear_16999_44148"
        x1="115.001"
        y1="19.7306"
        x2="120.923"
        y2="19.7392"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#294393" />
        <stop offset="1" stop-color="#04A4E6" />
      </linearGradient>
      <linearGradient
        id="paint2_linear_16999_44148"
        x1="123.816"
        y1="19.7306"
        x2="151.985"
        y2="19.926"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#294393" />
        <stop offset="1" stop-color="#04A4E6" />
      </linearGradient>
      <linearGradient
        id="paint3_linear_16999_44148"
        x1="86.0631"
        y1="19.7306"
        x2="112.62"
        y2="19.9043"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#294393" />
        <stop offset="1" stop-color="#04A4E6" />
      </linearGradient>
      <linearGradient
        id="paint4_linear_16999_44148"
        x1="54.7674"
        y1="19.7647"
        x2="83.3564"
        y2="19.966"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#294393" />
        <stop offset="1" stop-color="#04A4E6" />
      </linearGradient>
      <linearGradient
        id="paint5_linear_16999_44148"
        x1="154.087"
        y1="19.7647"
        x2="182.676"
        y2="19.966"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#294393" />
        <stop offset="1" stop-color="#04A4E6" />
      </linearGradient>
    </defs>
  </svg>
</div>
