<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    height: 100vh;
    place-items: center;
    overflow-y: auto;
    background: #bebdbd;
    font-family: "Open Sans", sans-serif;
    gap: 10px;
  }
  .template-container {
    background-color: #ffff;
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
    --webkit-scrollbar-width: none;
    padding-bottom: 20px;
    border: 1px solid #e6e6e6;
  }

  .template-header {
    display: grid;
    place-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px;
  }

  .logo-img {
    width: 180px;
    height: 50px;
  }

  @media screen and (max-width: 768px) {
    .template-container {
      padding-bottom: 10px;
    }
    .template-header {
      padding: 10px;
    }
    .logo-img {
      width: 140px;
      height: 40px;
    }
  }
</style>
<div class="template-header">
  <img class="logo-img" src="<%= logoUrl %>" alt="logo" />
</div>
