<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      .template-body {
        padding: 35px 30px;
        display: grid;
        justify-content: center;
        align-items: center;
      }
      .template-body-content {
        display: grid;
        justify-items: center;
        text-align: center;
        gap: 10px;
      }
      .template-body-content h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
      }
      .template-body-content p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .greetings-body-info {
        display: grid;
        justify-items: center;
        gap: 20px;
      }
      .greetings-body-info h1 {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
      }
      .greetings {
        display: grid;
        justify-items: center;
        text-align: center;
        gap: 22px;
        margin-top: 30px;
      }
      .greetings p {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
      }

      .template-body-content span {
        font-weight: 700;
        font-size: 16px;
        background: linear-gradient(90deg, #01904d, #0ce47f 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .admin-info {
        background-color: #f7f7fb;
        padding: 30px;
        border-radius: 20px;
        margin: 10px 0;
        display: grid;
        gap: 10px;
      }
      .admin-info div {
        display: grid;
        justify-items: center;
        gap: 10px;
      }
      .admin-info div h3 {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
      }
      .admin-info div span {
        font-size: 18px;
        font-weight: 600;
        color: #4c4c4c;
      }
      .admin-login {
        display: grid;
        justify-items: center;
      }

      #website-login-btn {
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        border-radius: 50px;
        padding: 10px 20px;
        color: #ffff;
        font-size: 14px;
        font-weight: 600;
        border: none;
        cursor: pointer;

        text-decoration: none;
        align-self: center;
      }
    </style>
  </head>
  <body>
    <div class="template-container">
      <%- include('./components/header.ejs') %>

      <div class="template-body">
        <div class="template-body-content">
          <img src="./assets//AdminGreetingsSVG.png" alt="greeting-admin" />
          <span>Mr Admin</span>
          <h1>Welcome To Elite Commerce</h1>
          <p>
            The Super Admin assigns to you admin roles In Elite Commerce,
            granting them specific permissions to manage operations efficiently.
          </p>
        </div>
        <div class="admin-info">
          <div>
            <h3>Login Email</h3>
            <span>admin@gmail.com</span>
          </div>
          <div
            style="border-bottom: 1px solid #e6e6e6; margin: 20px auto"
          ></div>
          <div>
            <h3>Login Password</h3>
            <span>123456789</span>
          </div>
        </div>
        <div class="admin-login">
          <a
            href="https://dashboard.elitecommerce.app/login"
            target="_blank"
            id="website-login-btn"
          >
            Login Elite Commerce
          </a>
        </div>
      </div>
      <%- include('./components/footer.ejs' ,{socialMedias}) %>
    </div>
  </body>
</html>
