<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        display: grid;
        place-items: center;
        height: 100vh;
        overflow-y: auto;
        background: #bebdbd;
        font-family: "Open Sans", sans-serif;
        gap: 10px;
      }

      /* Global Styles */

      .template-container {
        background-color: #ffff;
        max-width: 600px;
        border-radius: 10px;
        overflow-y: auto;
        --webkit-scrollbar-width: none;
        padding-bottom: 20px;
        border: 1px solid #e6e6e6;
      }

      .template-header {
        display: grid;
        place-items: center;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px;
      }

      .logo-img {
        width: 180px;
        height: 50px;
      }

      .template-footer {
        display: grid;
        gap: 10px;
        justify-items: center;
        text-align: center;
      }

      .template-footer h2 {
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .template-footer span {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
        line-height: 23px;
      }

      .social-media-link {
        display: grid;
        grid-auto-flow: column;
        gap: 7px;
        justify-content: center;
      }

      .social-media-link a {
        text-decoration: none;
        color: #ffff;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 6px;
        background: linear-gradient(180deg, #01904d 0%, #0ce47f 100%);
        display: grid;
        place-items: center;
      }

      @media screen and (max-width: 768px) {
        .template-container {
          padding-bottom: 10px;
        }

        .template-header {
          padding: 10px;
        }

        .logo-img {
          width: 140px;
          height: 40px;
        }

        .template-footer {
          gap: 5px;
        }

        .template-footer h2 {
          font-size: 16px;
          font-weight: 600;
        }

        .template-footer span {
          font-size: 12px;
        }

        .social-media-link {
          gap: 5px;
        }

        .social-media-link a {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
        .greetings-body-info img {
          width: 150px;
          height: 150px;
        }
      }

      /* Global Styles */

      .template-body {
        padding: 35px 30px;
        display: grid;

        justify-items: center;
      }

      .template-body-content {
        display: grid;
        text-align: center;
        gap: 10px;
        justify-items: center;
      }

      .template-body-content h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
      }

      .template-body-content p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .greetings-body-info {
        display: grid;
        gap: 20px;
        justify-items: center;
      }

      .greetings-body-info h1 {
        font-size: 20px;
        font-weight: 700;
        color: #333333;
      }

      .greetings {
        display: grid;
        text-align: center;
        gap: 22px;
        justify-items: center;
        margin-top: 30px;
      }

      .greetings p {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
      }

      .greetings-info {
        display: grid;
        gap: 4px;
        text-align: center;
        justify-items: center;
      }

      .greetings-info h3 {
        font-size: 12px;
        font-weight: 600;
        color: #000000;
      }

      .greetings-info p {
        font-size: 12px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .customer-login {
        display: grid;
        justify-items: center;
        margin: 20px auto;
      }

      #visit-website-btn {
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        border-radius: 50px;
        padding: 10px 20px;
        color: #ffff;
        font-size: 14px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        text-decoration: none;
        justify-self: center;
      }
    </style>
  </head>
  <body>
    <div class="template-container">
      <div class="template-header">
        <img class="logo-img" src="./assets/LogoElite.png" alt="logo" />
      </div>
      <div class="template-body">
        <div class="greetings-body-info">
          <img src="./assets/greetings.png" alt="greetings" />
          <h1>Welcome to Elite Commerce</h1>
        </div>

        <div class="greetings">
          <p>
            Thank you for joining <b>EliteCommerce!</b> We are excited to
            welcome you to our community and look forward to providing you with
            a seamless and exceptional shopping experience.
          </p>
          <div class="greetings-info">
            <h3>Exclusive Offers:</h3>
            <p>Receive access to special promotions and discounts.</p>
          </div>
          <div class="greetings-info">
            <h3>Fast & Secure Shipping:</h3>
            <p>Enjoy reliable delivery with every order .</p>
          </div>
        </div>

        <div class="customer-login">
          <a
            href="https://demo.elitecommerce.app/"
            target="_blank"
            id="visit-website-btn"
            >Visit Elite Commerce
          </a>
        </div>
      </div>

      <div class="template-footer">
        <h2>Need Help?</h2>
        <span>Please Notify In Our Social Media.</span>
        <div class="social-media-link">
          <a href="#">
            <img src="./assets/social-icons/LinkedInIcon.png" alt="linkedin" />
          </a>
          <a href="#">
            <img src="./assets/social-icons/DiscordIcon.png" alt="discord" />
          </a>
          <a href="#">
            <img src="./assets/social-icons/GithubIcon.png" alt="github" />
          </a>
          <a href="#">
            <img src="./assets/social-icons/WhatsappIcon.png" alt="whatsapp" />
          </a>
          <a href="#">
            <img src="./assets/social-icons/MailIcon.png" alt="mail" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
