<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      /* common css */
      * {
        margin: 0;
        padding: 0;
      }
      body {
        overflow-x: hidden;
        overflow-y: auto;
        background: #f3f3f3;
        font-family: "Open Sans", sans-serif;
      }
      .template-container {
        margin: 50px auto 25px auto;
        background-color: #ffff;
        width: 600px;
        border-radius: 10px;
        padding-bottom: 20px;
        border: 1px solid #e6e6e6;
      }
      /* header css */
      .template-header {
        text-align: center;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px;
      }
      .logo-img {
        width: 180px;
        height: 50px;
      }
      /* header css */

      /* footer css */
      .template-footer {
        text-align: center;
        display: block;
      }
      .template-footer-heading {
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .template-footer-description {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .template-footer-social-medias {
        text-align: center;
      }
      .template-footer-social-media-link {
        text-decoration: none;
        color: white;
        border-radius: 50%;
        width: 26px; /* Adjust size if needed */
        height: 26px; /* Ensure this matches line-height */
        display: inline-block;
        background: linear-gradient(180deg, #01904d 0%, #0ce47f 100%);
        text-align: center;
      }

      .template-footer-social-media-icon {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        display: inline-block;
      }
      /* footer css */

      /* common css */
      .template-body {
        padding: 35px 30px;
      }
      .template-body-header {
        text-align: center;
      }
      .template-body-header h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
        margin: 5px 0px;
      }
      .template-body-header p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .template-body-main {
        margin-top: 30px;
      }
      .otp-container {
        width: 80%;
        margin: 0 auto;
        background-color: #f7f7fb;
        padding: 25px 20px;
        border-radius: 20px;
        text-align: center;
      }
      .otp-container span {
        font-weight: 700;
        font-size: 50px;
        line-height: 68px;
        text-align: center;
        color: #000000;
        text-align: center;
        margin: 0px 20px;
      }
      .template-body-description {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
        text-align: center;
        margin-top: 20px;
      }

      @media screen and (max-width: 600px) {
        .template-container {
          padding-bottom: 15px;
          width: 100%;
          border-radius: 5px;
        }
        /* header media query css */
        .template-header {
          padding: 8px;
        }
        .logo-img {
          width: 130px;
          height: 40px;
        }
        /* header media query css */

        /* footer media query css */
        .template-footer-heading {
          font-weight: 600;
          font-size: 16px;
        }
        .template-footer-description {
          font-size: 12px;
          margin-top: 3px;
          margin-bottom: 3px;
        }
        /* .template-footer-social-media-link {
          width: 20px;
          height: 20px;
        }
        .template-footer-social-media-icon {
          width: 14px;
        } */
        /* footer media query css */

        .template-body {
          padding: 25px 20px;
        }
        .template-body-header h1 {
          font-size: 20px;
          font-weight: 600px;
          margin: 4px 0px;
        }
        .template-body-header p {
          font-size: 14px;
        }

        .template-body-main {
          margin-top: 15px;
        }
        .otp-container span {
          font-weight: 600px;
          font-size: 40;
          line-height: 30px;
          margin: 0px 10px;
        }
        .template-body-description {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    </style>
  </head>
  <body>
    <div class="template-container">
      <%- include('./components/header.ejs',{logoUrl}) %>

      <div class="template-body">
        <div class="template-body-header">
          <img src="/mail_assets/PasswordResetOTP.png" alt="admin-greetings" />

          <h1>Password Reset OTP</h1>
          <p>
            You recently requested to reset your password. Please use the OTP
            code below to complete the process:
          </p>
        </div>
        <div class="template-body-main">
          <div class="otp-container">
            <% otp.forEach(digit => { %>
            <span><%= digit %></span>
            <% }); %>
          </div>
          <p class="template-body-description">
            All you have to do is copy the confirmation code and paste it to
            your form to complete the email verification process.
          </p>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
