<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        display: grid;
        height: 100vh;
        place-items: center;
        overflow-y: auto;
        background: #bebdbd;
        font-family: "Open Sans", sans-serif;
        gap: 10px;
      }
      .template-container {
        background-color: #ffff;
        max-width: 600px;
        border-radius: 10px;
        overflow-y: auto;
        --webkit-scrollbar-width: none;
        padding-bottom: 20px;
        border: 1px solid #e6e6e6;
      }

      .template-header {
        display: grid;
        place-items: center;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px;
      }

      .logo-img {
        width: 180px;
        height: 50px;
      }

      .template-footer {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 10px;
      }
      .template-footer h2 {
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .template-footer span {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
        line-height: 23px;
      }
      .social-media-link {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
      }
      .social-media-link a {
        text-decoration: none;
        color: #ffff;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 6px;
        background: linear-gradient(180deg, #01904d 0%, #0ce47f 100%);
        display: grid;
        place-items: center;
      }

      @media screen and (max-width: 768px) {
        .template-container {
          padding-bottom: 10px;
        }
        .template-header {
          padding: 10px;
        }
        .logo-img {
          width: 140px;
          height: 40px;
        }
        .template-footer {
          gap: 5px;
        }
        .template-footer h2 {
          font-size: 16px;
          font-weight: 600;
        }
        .template-footer span {
          font-size: 12px;
        }
        .social-media-link {
          gap: 5px;
        }
        .social-media-link a {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
      }

      /* common styles ended */
      .template-body {
        padding: 35px 30px;
        display: grid;
        grid-template-rows: auto auto;
        gap: 30px;
      }

      .template-body-content {
        display: grid;
        place-items: center;
        text-align: center;
        gap: 10px;
      }

      .template-body-content h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
      }

      .template-body-content p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }

      .reset-password-otp-info {
        display: grid;
        gap: 20px;
        margin-top: 30px;
      }

      .otp-box {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        background-color: #f7f7fb;
        gap: 50px;
        padding: 25px 20px;
        border-radius: 20px;
        place-items: center;
        margin: 0 auto;
      }

      .otp-box span {
        font-weight: 700;
        font-size: 50px;
        line-height: 68px;
        text-align: center;
        color: #000000;
      }

      .reset-password-otp-info p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="template-container">
      <%- include('./components/header.ejs',{logoUrl}) %>

      <div class="template-body">
        <div class="template-body-content">
          <%- include('./components/heros/ResetPassOTPSvg.ejs') %>

          <h1>Password Reset OTP</h1>
          <p>
            You recently requested to reset your password. Please use the OTP
            code below to complete the process:
          </p>
        </div>
        <div class="reset-password-otp-info">
          <div class="otp-box">
            <% otp.forEach(digit => { %>
            <span><%= digit %></span>
            <% }); %>
          </div>
          <p>
            All you have to do is copy the confirmation code and paste it to
            your form to complete the email verification process.
          </p>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
