<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset completed</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        display: grid;
        height: 100vh;
        place-items: center;
        overflow-y: auto;
        background: #bebdbd;
        font-family: "Open Sans", sans-serif;
        gap: 10px;
      }
      .template-container {
        background-color: #ffff;
        max-width: 600px;
        border-radius: 10px;
        overflow-y: auto;
        --webkit-scrollbar-width: none;
        padding-bottom: 20px;
        border: 1px solid #e6e6e6;
      }

      .template-header {
        display: grid;
        place-items: center;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px;
      }

      .logo-img {
        width: 180px;
        height: 50px;
      }

      .template-footer {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 10px;
      }
      .template-footer h2 {
        font-weight: 700;
        font-size: 20px;
        background: linear-gradient(90deg, #294393, #04a4e6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .template-footer span {
        font-size: 14px;
        font-weight: 400;
        color: #4c4c4c;
        line-height: 23px;
      }
      .social-media-link {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
      }
      .social-media-link a {
        text-decoration: none;
        color: #ffff;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 6px;
        background: linear-gradient(180deg, #01904d 0%, #0ce47f 100%);
        display: grid;
        place-items: center;
      }

      @media screen and (max-width: 768px) {
        .template-container {
          padding-bottom: 10px;
        }
        .template-header {
          padding: 10px;
        }
        .logo-img {
          width: 140px;
          height: 40px;
        }
        .template-footer {
          gap: 5px;
        }
        .template-footer h2 {
          font-size: 16px;
          font-weight: 600;
        }
        .template-footer span {
          font-size: 12px;
        }
        .social-media-link {
          gap: 5px;
        }
        .social-media-link a {
          width: 20px;
          height: 20px;
          padding: 5px;
        }
      }

      /* common styles ended */
      .template-body {
        padding: 35px 30px;
        display: grid;
        place-items: center;
        grid-auto-rows: auto;
        gap: 30px;
      }
      .template-body-content {
        display: grid;
        place-items: center;
        text-align: center;
        gap: 10px;
      }
      .template-body-content h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
      }
      .template-body-content p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }

      #access-now-btn {
        background: linear-gradient(90deg, #fb8e48, #cb380f 100%);
        border-radius: 50px;
        padding: 10px 20px;
        color: #ffff;
        font-size: 16px;
        font-weight: 600;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="template-container">
      <%- include('./components/header.ejs',{logoUrl}) %>

      <div class="template-body">
        <div class="template-body-content">
          <%- include('./components/heros/PassResetCompletedSvg.ejs') %>
          <h1>Password Reset Completed</h1>
          <p>
            Your password has been successfully reset. You can now log in with
            your new password. If you did not request this change, please
            contact support immediately.
          </p>
          <a target="_blank" href="<%= accessUrl %>" id="access-now-btn">
            Access Now
          </a>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
