<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up otp verification</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      .template-body {
        padding: 35px 30px;
        display: grid;
        place-items: center;
        gap: 30px;
      }
      .template-body-content {
        display: grid;
        place-items: center;
        text-align: center;
        gap: 10px;
      }
      .template-body-content h1 {
        font-size: 24px;
        font-weight: 700;
        color: #4c4c4c;
      }
      .template-body-content p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
      }
      .sign-up-otp-info {
        display: grid;
        place-items: center;
        gap: 20px;
        margin-top: 30px;
      }
      .otp-box {
        width: 80%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        background-color: #f7f7fb;
        gap: 10px;
        padding: 25px 20px;
        border-radius: 20px;
      }
      .otp-box span {
        font-weight: 700;
        font-size: 50px;
        line-height: 68px;
        text-align: center;
        color: #000000;
      }
      .sign-up-otp-info p {
        font-size: 16px;
        font-weight: 400;
        color: #4c4c4c;
        text-align: center;
      }
      /* signup-temmplate-css*/
    </style>
  </head>
  <body>
    <div class="template-container">
      <%- include('./components/header.ejs',{logoUrl}) %>

      <div class="template-body">
        <div class="template-body-content">
          <%- include('./components/heros/SignupVerificationSvg.ejs') %>
          <h1>Sign Up Verification Code</h1>
          <p>
            Please enter this confirmation code in the window
            <br />
            where you started creating your account:
          </p>
        </div>
        <div class="sign-up-otp-info">
          <div class="otp-box">
            <% otp.forEach(digit => { %>
            <span><%= digit %></span>
            <% }); %>
          </div>
          <p>
            All you have to do is copy the confirmation code and paste it to
            your form to complete the email verification process.
          </p>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
