<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up otp verification</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body
    style="
      display: grid;
      height: 100vh;
      place-items: center;
      overflow-y: auto;
      background: #bebdbd;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    "
  >
    <div
      style="
        background-color: #ffff;
        max-width: 600px;
        border-radius: 10px;
        overflow-y: auto;
        --webkit-scrollbar-width: none;
        padding-bottom: 20px;
        border: 1px solid #e6e6e6;
      "
    >
      <%- include('./components/header.ejs',{logoUrl}) %>

      <div style="padding: 35px 30px">
        <div style="text-align: center">
          <%- include('./components/heros/SignupVerificationSvg.ejs') %>
          <h1
            style="
              font-size: 24px;
              font-weight: 700;
              color: #4c4c4c;
              margin: 5px 0px;
            "
          >
            Sign Up Verification Code
          </h1>
          <p style="font-size: 16px; font-weight: 400; color: #4c4c4c">
            Please enter this confirmation code in the window
            <br />
            where you started creating your account:
          </p>
        </div>
        <div style="margin-top: 30px">
          <div
            style="
              width: 80%;
              margin: 0 auto;
              background-color: #f7f7fb;
              padding: 25px 20px;
              border-radius: 20px;
              text-align: center;
            "
          >
            <% otp.forEach(digit => { %>
            <span
              style="
                font-weight: 700;
                font-size: 50px;
                line-height: 68px;
                text-align: center;
                color: #000000;
                text-align: center;
                margin: 0px 20px;
              "
              ><%= digit %></span
            >
            <% }); %>
          </div>
          <p
            style="
              font-size: 16px;
              font-weight: 400;
              color: #4c4c4c;
              text-align: center;
              margin-top: 20px;
            "
          >
            All you have to do is copy the confirmation code and paste it to
            your form to complete the email verification process.
          </p>
        </div>
      </div>
      <%- include('./components/footer.ejs') %>
    </div>
  </body>
</html>
